/* 전체 배경 설정 */
.habitPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f4ef;
}

/* main wrapper */
/* frame 2609450 */
.mainWrapper {
  width: 1248px;
  height: 100%;
  opacity: 1;
  top: 139px;
  left: 360px;
  border-radius: 20px;
  padding: 40px;
  gap: 10px;
  background-color: #ffffff;
}

/* frame 2609508 */
.habitTopSection {
  opacity: 1;
  gap: 24px;
  margin: 10px;
}
/* Frame 2609479 */
.headerTop {
  height: 48px;
  opacity: 1;
  gap: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* frame 2609451 */
.headerTopRow h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  opacity: 1;
  width: auto;
  height: auto;
}

/* frame 2609451 */
.headerTopRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1168px;
  height: 48px;
}

/* Frame 2609450 */
.btnGroup {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Frame 2609447 */
.headerTopBtnToday {
  width: 144px;
  height: 48px;
  opacity: 1;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #818181;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #dddddd;
  gap: 14px;
}

.headerTopBtnHome {
  width: 82px;
  height: 48px;
  opacity: 1;
  background-color: #ffffff;
  color: #818181;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #dddddd;
  gap: 14px;
}
.iconArrow {
  width: 5px;
  height: 11px;
}

/* 시간박스 frame 2609455 */
.timeBox {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  background-color: #ffffff;
  margin: 20px 0px;
}

.timeLabel {
  color: #888888;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.timeDisplay {
  font-size: 16px;
  font-weight: 500;
  color: #414141;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #dddddd;
  margin-top: 20px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nickname {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* 습관카드 frame 2609478 */
.habitListCard {
  width: 1168px;
  padding: 40px 24px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 습관 리스트 헤더 group 33609 */
.listHeader {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: center;
  position: relative;
  width: 400px;
}

.listHeader h2 {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: center;
  margin: 0;
  width: 120px;
}

.editLink {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #818181;
  background-color: transparent;
  position: absolute;
  right: 0;
  border: none;
}

/* 습관 리스트 frame 2609498 */
.habitList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 400px;
  height: 498px;
}

/* 개별 습관 버튼 chip */
.habitItem {
  width: 400px;
  height: 54px;
  padding: 0 20px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #eeeeee;
  text-align: center;
  font-size: 15px;
  color: #818181;

  cursor: pointer;
}

.completed {
  background-color: #99c08e;
  color: #ffffff;
}

/* 태블릿 (iPad mini 등) */
@media (max-width: 768px) {
  .habitListCard {
    padding: 30px;
  }
}

/* 모바일 */
@media (max-width: 480px) {
  .habitHeaderContainer h1 {
    font-size: 20px;
  }
  .habitListCard {
    padding: 20px;
  }
  .habitItem {
    padding: 12px;
    font-size: 13px;
  }
}
