/* 전체 배경 설정 */
.habit-page {
  background-color: #f6f4ef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  GNB */
.gnb {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eeeeee;
}
.gnb-inner {
  width: 1248px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* main wrapper */
/* frame 2609450 */
.main-wrapper {
  width: 1248px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 40px;
  padding: 40px;
  box-sizing: border-box;
}

/* frame 2609481 */
.habit-header-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

/* frame 2609451 */
.header-top-row h1 {
  font-size: 32px;
  font-weight: 800;
  color: #414141;
}

/* 시간박스 frame 2609455 */
.time-box {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 12px;
}

.time-label {
  font-size: 12px;
  color: #888888;
  margin: 0;
}

.time-display {
  font-size: 16px;
  font-weight: 700;
  color: #414141;
}

/* 습관카드 frame 2609478 */
.habit-list-card {
  width: 1168px;
  padding: 40px 24px;
  border: 1px solid #eeeeee;
  border-radius: 20px;
}

/* 습관 리스트 헤더 group 33609 */
.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

/* 습관 리스트 frame 2609498 */
.habit-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 400px;
  height: 498px;
}

/* 개별 습관 버튼 chip */
.habit-item {
  width: 400px;
  height: 54px;
  padding: 0 20px;
  border-radius: 20px;
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  text-align: center;
  font-size: 15px;

  cursor: pointer;
}

.habit-item.completed {
  background-color: #99c08e;
  color: #818181;
}

/* 태블릿 (iPad mini 등) */
@media (max-width: 768px) {
  .habit-list-card {
    padding: 30px;
  }
}

/* 모바일 */
@media (max-width: 480px) {
  .habit-header h1 {
    font-size: 20px;
  }
  .habit-list-card {
    padding: 20px;
  }
  .habit-item {
    padding: 12px;
    font-size: 13px;
  }
}
