/* 전체 배경 설정 */
.habitPage {
  background-color: #f6f4ef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  GNB */
.gnb {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eeeeee;
}
.gnbInner {
  width: 1248px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* main wrapper */
/* frame 2609450 */
.mainWrapper {
  width: 1248px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 40px;
  padding: 40px;
  box-sizing: border-box;
}

/* frame 2609481 */
.habitHeaderContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

/* frame 2609451 */
.headerTopRow h1 {
  font-size: 32px;
  font-weight: 800;
  color: #414141;
}

/* 시간박스 frame 2609455 */
.timeBox {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 12px;
}

.timeLabel {
  font-size: 12px;
  color: #888888;
  margin: 0;
}

.timeDisplay {
  font-size: 16px;
  font-weight: 700;
  color: #414141;
}

/* gnb적용하면 정리할것
.logo .gnbRight */
.logo {
  font-weight: bold;
  color: #414141;
}

.gnbRight {
  display: flex;
  gap: 10px;
}

.gnbBtn {
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.nickname {
  font-family: Pretendard;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.editLink {
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
/* 습관카드 frame 2609478 */
.habitListCard {
  width: 1168px;
  padding: 40px 24px;
  border: 1px solid #eeeeee;
  border-radius: 20px;
}

/* 습관 리스트 헤더 group 33609 */
.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

/* 습관 리스트 frame 2609498 */
.habitList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 400px;
  height: 498px;
}

/* 개별 습관 버튼 chip */
.habitItem {
  width: 400px;
  height: 54px;
  padding: 0 20px;
  border-radius: 20px;
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  text-align: center;
  font-size: 15px;

  cursor: pointer;
}

.habitItem.completed {
  background-color: #99c08e;
  color: #818181;
}

/* 태블릿 (iPad mini 등) */
@media (max-width: 768px) {
  .habitListCard {
    padding: 30px;
  }
}

/* 모바일 */
@media (max-width: 480px) {
  .habitHeader h1 {
    font-size: 20px;
  }
  .habitListCard {
    padding: 20px;
  }
  .habitItem {
    padding: 12px;
    font-size: 13px;
  }
}
