.btn {
  width: 100%;
  max-width: 648px;
  height: 58px;
  background: #99c08e;
  border-radius: 16px;
  border: none;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  text-shadow: 0px -2px 2px rgba(0, 0, 0, 0.5);
  font-family: EF_jejudoldam;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 375px) {
  .btn {
    width: 100%;
    max-width: 312px;
  }
}
