.studyAboutWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 40px 100px 40px;
}

.content {
  width: 100%;
  max-width: 1120px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
}

@media screen and (max-width: 800px) {
  .studyAboutWrap {
    padding: 14px 24px 80px 24px;
  }
}
