h2 {
 font-size: 24px;
 font-weight: 800;
 text-align: right;
}

.habitLogTable thead tr {
  padding: 0 48px;
  text-align: center;
  gap: 10px;
}
.habitLogTable tbody tr:first-child {
  color: #414141;
  font-size: 18px;
}