.modalWrap {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modalBox {
  width: calc(100% - (48px * 2));
  max-width: 648px;
  background: #fff;
  border-radius: 20px;
  padding: 40px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & h1 {
    width: 100%;
    color: var(--black-black_414141, #414141);
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  & p {
    color: var(--gray-gray_818181, #818181);
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 28px auto;
  }

  & form {
    display: flex;
    flex-direction: column;
    & label {
      color: var(--black-black_414141, #414141);
      font-family: Pretendard;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

.formInput {
  position: relative;
  margin: 16px 0 40px 0;
  & input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 15px;
    border: 1px solid var(--gray-gray_DDDDDD, #ddd);
    background: #fff;
    color: var(--gray-gray_818181, #818181);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  & .passwordBtn {
    width: 24px;
    height: 24px;
    color: var(--gray-gray_818181, #818181);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 50%;
    right: 16px;
    background: none;
    border: none;
    transform: translateY(-50%);
    & img {
      width: inherit;
      height: inherit;
    }
  }
}

.btnClose {
  color: #578246;
  background: #fff;
  text-align: right;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  position: absolute;
  top: 46px;
  right: 24px;
}

@media screen and (max-width: 375px) {
  .modalBox {
    width: calc(100% - (16px * 2));
    padding: 27px 16px 61px 16px;
    & h1 {
      font-size: 18px;
    }
  }
  .btnClose {
    transform: translateX(-50%);
    background: none;
    z-index: 2;
    bottom: 30px;
    left: 50%;
    top: initial;
    right: initial;
  }
}
