.habit-list {
  margin: 40px 0 0 0;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid var(--gray-gray_DDDDDD, #ddd);
  background: #fff;
  & h2 {
    color: var(--black-black_414141, #414141);
    text-align: left;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0 0 24px 0;
  }
}
