.timerWrapper {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  width: 100%;
  height: 546px;
  margin: 40px 0 0 0;
  padding: 40px 24px 34px 24px;
  gap: 10px;
  align-items: center;

  border-radius: 20px;
  border: 1px solid var(--gray-gray_DDDDDD, #ddd);
  background: #fff;

  color: var(--black-black_414141, #414141);
  font-family: Pretendard;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  box-sizing: border-box;
  cursor: pointer;
}

.timerTitle {
  margin: 0 auto;
  text-align: right;
  font-size: 24px;
  line-height: normal;
}

.startTimeTagWrapper,
.startTimeTagWrapperPlaceholder {
  display: flex;
  padding: 6px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3);
}

.startTimeTag,
.startTimeTagPlaceholder {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.timerIcon {
  width: 19px;
  height: 19px;
  color: #414141;
}

.startTimeTagTime {
  font-size: 16px;
  font-weight: 500;
}

.startTimeTagPlaceholder,
.startTimeTagWrapperPlaceholder {
  border: 1px solid #fff;
  background: #fff;
  color: #fff;
}

.timer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-weight: 800;

  font-size: clamp(80px, 12vw, 150px);
  font-variant-numeric: tabular-nums;

  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.timeOver {
  color: var(--gray-gray_818181, #818181);
}

.timeWarning {
  color: var(--red-red_F50E0E, #f50e0e);
}

.timerButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 94.5px;
}

.timerWrapper button {
  border: 0;
}

.pauseIcon,
.resetIcon {
  display: block;
}

.timerPauseButton,
.timerResetButton {
  line-height: 0;
  background: #fff;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  background: #fff;
}

.timerStartButton {
  font-size: 28px;
  text-align: center;
  color: #fff;

  border: 0px;
  flex-shrink: 0;
  background-color: #99c08e;
  width: 333px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 16px;
}

.timerStartButton:disabled {
  background-color: var(--gray-gray_818181, #818181);
}

.imgPlayIcon,
.imgStopIcon {
  width: 44px;
  height: 44px;
}

.toastCompleted,
.toastPaused {
  position: bottom-center;

  display: inline-flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--green-green_E1EDDE, #e1edde);
  color: var(--green-green_text_578246, #578246);
  font-size: 16px;
  font-weight: 500;
}

.toastPaused {
  background: var(--pink-pink_FDE0E9, #fde0e9);
  color: var(--red-red_F50E0E, #f50e0e);
}

@media (max-width: 744px) {
  .timerWrapper {
    max-width: 648px;
    padding: 40px 24px;
    height: 512px;
  }

  .timer {
    font-size: clamp(72px, 12vw, 120px);
  }

  .timerButtonWrapper {
    margin-top: 100px;
  }
}

@media (max-width: 375px) {
  .timerWrapper {
    max-width: 312px;
    padding: 24px 16px 24px 16px;
  }

  .timer {
    font-size: clamp(64px, 18vw, 80px);
  }

  .imgPlayIcon,
  .imgStopIcon {
    width: 24px;
    height: 24px;
  }

  .timerButtonWrapper {
    margin-top: 64.94px;
    margin-bottom: 0;
  }

  .timerStartButton {
    width: 140px;
    height: 45px;
    font-size: 18px;
  }

  .timerButtonWrapper {
    display: flex;
    height: 48px;
    padding: 0 14px;
    justify-content: center;
    align-items: center;
  }

  .timerPauseButton,
  .timerResetButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #fff;
  }

  .pauseIcon,
  .resetIcon {
    display: block;
    width: 48px;
    height: 48px;
  }
}
