/* 헤더 전체 배경 */
.main-header {
  width: 100%;
  height: 100px;             
  background-color: #ffffff;
  display: flex;
  justify-content: center;   
  position: sticky;
  top: 0;
  z-index: 1000;
}


.header-container {
  width: 100%;

  max-width: 1600px;         
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 40px;          
}

/* 버튼 스타일 (디자인 이미지 반영) */
.btn-signup {
  width: 252px;
  height: 58px;
  background-color: #99C08E;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-family: 'EF_jejudoldam', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0px -2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}