
.main-header {
  width: 100%;
  height: 100px;       
  background-color: #ffffff;  
  display: flex;
  justify-content: center;    
  position: sticky;           
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); 
}


.header-container {
  width: 100%;
  max-width: 1200px;         
  display: flex;
  justify-content: space-between;
  align-items: center;        
  padding: 0 40px;           
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;              
  object-fit: contain;
}


.btn-signup {
  width: 252px;
  height: 58px;
  background-color: #99C08E; 
  color: white !important;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-family: 'EF_jejudoldam', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  text-shadow: 0px -2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}

.btn-signup:active {
  transform: translateY(2px);      
  box-shadow: none;                   
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3); 
}

.btn-signup:hover {
  background-color: #88ae7d;         
  transform: translateY(-1px);      
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}